@tailwind base;
@tailwind components;
@tailwind utilities;

.lemur1 {
    cursor: url("/32/lemur1.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur2{
    cursor: url("/32/lemur2.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur3{
    cursor: url("/32/lemur3.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur4{
    cursor: url("/32/lemur4.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur5{
    cursor: url("/32/lemur5.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur6{
    cursor: url("/32/lemur6.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur7{
    cursor: url("/32/lemur7.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur8{
    cursor: url("/32/lemur8.png"),auto !important;
    height: 100vh;
    width: 100vw;
}

.lemur9{
    cursor: url("/32/lemur9.png"),auto !important;
    height: 100vh;
    width: 100vw;
}